:root{
    --primario: #9C27B0;
    --primarioOsc: #89119D;
    --secundario: #FFCE00;
    --secundarioOsc: #9c7e06;
    --blanco: #FFF;
    --negro: #000;
    --fuentePr: 'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after {
    /*Box Model*/
    box-sizing: inherit;
}


/*GLOBALES*/
body {
    font-size: 16px; /*1rem = 10px*/
    margin: 0;

    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}


/*TIPOGRAFÍA*/
h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePr);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/*UTILIDADES*/


/*Header*/
.header{
    display: grid;
    justify-content: center;
}
.header__logo{
    margin:3rem 0;
}

/*Nav*/
.navegacion{
    background-color: var(--primarioOsc);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace{
    font-family: var(--fuentePr);
    color:  var(--blanco);
    font-size: 3rem;
}

.navegacion__enlace:hover, .navegacion__enlace--activo{
    color: var(--secundario);
}


/*Productos*/
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
@media (min-width: 760px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}
.producto{
    background-color: var(--primarioOsc);
    padding: 1rem;
}

.producto__nombre{
    font-size: 4rem;
}
.producto__precio{
    font-size: 2.4rem;
    color: var(--secundario);
}
.producto__nombre,.producto__precio{
    font-family: var(--fuentePr);
    margin: 1rem 0;
    text-align: center;
    line-height: .75;
}

/*Graficos*/
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;
}
.grafico--camisa{
    grid-row: 2/3;
    background-image: url(../img/grafico1.jpg);
}
.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8/9;
}

@media (min-width: 768px){
    .grafico--node{
        grid-row: 5/6;
        grid-column: 2/4;
    }
}

/*nosotros*/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: center;
}
@media (min-width: 768px){
    .nosotros{
        grid-template-columns:repeat(2,1fr);
        column-gap: 2rem;
    }
}

.nosotros__contenido{
    padding: 2rem;
}

.nosotros__img{
    grid-row: 1/2;
}
@media (min-width: 768px){
    .nosotros__img{
        grid-column: 2/3;
    }
}


/*Bloque*/
.bloque{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
@media (min-width: 768px){
    .bloque{
        grid-template-columns: repeat(4,1fr);
    }
}

.elemento{
    text-align: center;
}
.elemento__titulo{
    margin:0;
}


/*Pag producto*/
@media (min-width: 768px){
    .camisa{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
}
.formulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    width: 100%;
}
.formulario__campo{
    border: 1rem solid var(--primarioOsc);
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}
.formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-family: var(--fuentePr);
    font-size: 2rem;
    padding: 2rem;
    grid-column: 1/3;
    transition: background-color .75s ease;
}
.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioOsc);
}


/*Footer*/
.footer{
    background-color: var(--primarioOsc);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    font-family: var(--fuentePr);
    text-align: center;
    font-size: 2.2rem;
}
.footer__texto span{
    font-size: 1.4rem;
}